<!DOCTYPE>
{% load static %}
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>장바구니</title>
    <link href="{% static 'see_near/bootstrap/bootstrap.min.css'%}" rel="stylesheet"/>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
    <!-- iamport.payment.js -->
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
    <script>
        var IMP = window.IMP; 
        IMP.init("imp53883146");

        {% comment %} var productName = "{{ cart_items.product.name }}"; {% endcomment %}
        var productName="good";
        var counter="{{ counter }}";
        var total="{{ total }}"; 

        var today = new Date();   
        var hours = today.getHours(); // 시
        var minutes = today.getMinutes();  // 분
        var seconds = today.getSeconds();  // 초
        var milliseconds = today.getMilliseconds();
        var makeMerchantUid = hours +  minutes + seconds + milliseconds;
        

        function requestPay() {
            IMP.request_pay({
                pg : 'kcp',
                pay_method : 'card',
                merchant_uid: "IMP"+makeMerchantUid, 
                name : productName,
                amount : total,
                buyer_email : 'Iamport@chai.finance',
                buyer_name : '아임포트 기술지원팀',
                buyer_tel : '010-1234-5678',
                buyer_addr : '서울특별시 강남구 삼성동',
                buyer_postcode : '123-456'
            }, function (rsp) { // callback
                if (rsp.success) {
                    console.log(rsp);
                } else {
                    console.log(rsp);
                }
            });
        }
    </script>
</head>
<body>
    <h1>장바구니</h1>
    <div class="row mx-auto">
        <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-center">
            <form method="post" action="{%url 'remove_selected'%}">
            {% csrf_token %}
            <table class="table my_custom_table">
                <thread class="my_custom_table">
                    <tr>
                        <th colspan="5">
                            Your items
                        </th>
                    </tr>
                </thread>
                <tbody>
                    {% for cart_item in cart_items %}
                    <tr>
                        <td>
                            <input id="selected" type="checkbox" name="selected" value="{{ cart_item.id }}">
                        </td>
                        <td>
                            <a href="{{ cart_item.product.get_absolute_url }}"><img src="{{ cart_item.product.images.url }}" alt="" class="float-left rounded custom_image"></a>
                        </td>
                        <td class="text-align">
                            {{cart_item.product.title}}
                            <br>
                            id: {{cart_item.product.post_id}}
                            <br>
                            price: {{cart_item.product.price}}원
                            <br>
                            quantity: {{cart_item.quantity}}개
                            {% if cart_item.quantity <= counter %}
                            {% comment %} <a href="{% url 'add_cart' cart_item.product.post_id %}" class="custom_a">
                                <i class="fas fa--plus-circle custom_icon"></i>
                                </a> {% endcomment %}
                                <a href="{% url 'minus_cart' cart_item.product.post_id %}"><p>수량빼기</p></a>
                                <a href="{% url 'add_cart' cart_item.product.post_id %}"><p>수량더하기</p></a>
                            {% else %}
                            {% endif %}
                        </td>
                        <td>
                            total: {{cart_item.sub_total}}원
                        </td>    
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <button type="submit">선택한 항목 삭제</button>
        </form>
        </div>
        <div class="col-12 col-sm-21 col-md-12 col-lg-6 text-center">
            <table class="table my_custom_table">
                <thread class="my_custom_thread">
                    <tr>
                        <th>
                            Checkout
                        </th>
                    </tr>
                </thread>
                <tbody>
                    <tr>
                        <td>
                            결제 금액
                        </td>
                    </tr>
                    <tr>
                        <td class="text-left">
                            총 개수: <b>{{ counter }}개</b> 총 가격: <b>{{ total }}원</b>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <button class='btn btn-outline-success' onclick="requestPay()">결제</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>