@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("font-awesome.min.css");
body {
  font-family: "poppins", sans-serif;
  color: #101010;
  background-color: #ffffff;
}

.layout_padding {
  /* padding-top: 90px;  */
  padding-bottom: 90px;
}

.layout_padding2 {
  padding-top: 45px;
  padding-bottom: 45px;
}

.layout_padding2-top {
  padding-top: 45px;
  padding-top: 45px;
}

.layout_padding2-bottom {
  padding-bottom: 45px;
}

.layout_padding-top {
  padding-top: 90px;
}

.layout_padding-bottom {
  padding-bottom: 90px;
}

.heading_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.heading_container h2 {
  text-transform: uppercase;
  font-weight: bold;
}

.heading_container h2 span {
  color: #f89cab;
}

.heading_container.heading_center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: flex-start;
  text-align: left;
}
.heading_container.heading_center2 {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: flex-start;
  text-align: left;
  padding-top: 100px;
}
.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  /* margin-right: -15px;
  margin-left: -15px; */
  /* border-top: 1px solid #eee;
  border-bottom: 1px solid #eee; */
}
.row2 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
/*shop section*/
.shop_section {
  .heading_container {
    margin-bottom: 20px;
  }
  .box {
    background-color: #ffeff1;
    position: relative;
    padding: 10px;
    margin-top: 25px;

    a {
      color: black;
    }

    .img-box {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 15px 30px;
      height: 245px;

      img {
        max-width: 100%;
        max-height: 145px;
      }
    }

    .detail-box {
      display: flex;
      justify-content: center;

      h6 {
        span {
          color: btnColor;
        }
      }
    }

    .new {
      width: 50px;
      height: 50px;
      position: absolute;
      /* top: 10px;
      left: 10px; */
      top: 16px;
      left: 42px;
      background-color: white;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 100%;
      font-size: 15px;
    }
  }

  .btn-box {
    display: flex;
    justify-content: center;
    margin-top: 45px;

    /* a {
    @include hero_btn(#f16179, $white, 10px, 40px, 5px);
  } */
  }
}

/*header section*/
.header_section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero_area {
  padding: 0 64px 0 45px;
}

.hero_area.sub_pages {
  height: auto;
}

#navbarSupportedContent.innerpage_navbar {
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
}

#navbarSupportedContent.innerpage_navbar .nav-item.active .nav-link {
  background-color: #f4f5f6;
}

#navbarSupportedContent .navbar-nav .nav-link {
  padding: 5px 25px;
  color: #514f4f;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
}

#navbarSupportedContent .nav-item.active .nav-link {
  background-color: #ffffff;
}

a,
a:hover,
a:focus {
  text-decoration: none;
  color: black;
}

a:hover,
a:focus {
  color: initial;
}

.btn,
.btn:focus {
  outline: none !important;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.navbar-brand {
  margin: 15px 0;
  padding: 0;
}

.navbar-brand span {
  font-size: 28px;
  font-weight: bold;
  color: #d50000;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
}
.search_mode {
  position: relative;
  width: 300px;
  height: 30px;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  z-index: 1;
  opacity: 1;
}
input {
  border: 1px solid #a6a6a6;
  border-radius: 50px;
  width: 100%;
  height: 100%;
  padding-left: 15px;
}
.search_btn {
  display: flex;
  /* justify-content: space-between; */
  position: absolute;
  border: none;
  right: 2px;
  background: transparent;
}
.search_btn .icon1 {
  background-image: url("../images/search.png");
  width: 24px;
  height: 24px;
}

.search {
  color: #808080;
}
.nav2 {
  display: flex;
  flex-direction: row;
  padding: 0 5px;
  text-align: center;
}
.login {
  text-decoration: none;
  color: black;
  width: 50px;
  margin-right: 34px;
  padding: 10px 0;
}
.login h6 {
  margin: 0;
  font-size: 1.2rem;
  white-space: nowrap;
}

.basket {
  text-decoration: none;
  color: black;
  width: 75px;
  margin-right: 35px;
  padding: 10px 0;
}
.basket h6 {
  margin: 0;
  font-size: 1.2rem;
}

.custom_nav-container .nav_search-btn {
  padding: 0;
  border: none;
}

.custom_nav-container {
  display: flex;
  justify-content: space-between;
  gap: 16rem;
  z-index: 99999;
  padding: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
/* hamburger */
.checkbox {
  display: none;
}

.button {
  position: absolute;
  background-color: white;
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 10%;
  z-index: 2000;
  text-align: center;
  cursor: pointer;
}

.background {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  background-color: #ffeff1;
  z-index: 1000;

  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
}
.nav ul {
  background-color: whitesmoke;
  padding: 30px;
  margin-bottom: 50px;
  border: whitesmoke solid 1px;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 400;
}

.nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: -60vw;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all 0.8s;
}
.logo {
  margin-right: 220px;
}
.logo img {
  width: 55px;
}
.list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%;
  padding-left: 0;
}

.item {
  margin: 1rem;
  font-size: 22px;
}

.link:link,
.link:visited {
  /* display: inline-block; */
  padding: 0rem 1rem;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    white 50%
  );
  background-size: 220%;
  transition: all 0.4s;
}

.link:hover,
.link:active {
  color: #ffffff;
  cursor: pointer;
}

/* functionality */
.checkbox:checked ~ .background {
  transform: scale(220);
}
.checkbox:checked ~ .nav {
  opacity: 1;
  width: 100%;
  right: 0;
}

/*  */
/* styling hamb ICON */
.icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.icon,
.icon::before,
.icon::after {
  height: 4px;
  width: 2rem;
  background-color: #6f4e04;
  display: inline-block;
  border-radius: 20px;
}

.icon::before,
.icon::after {
  content: "";
  position: absolute;
  left: 0;
  transition: all 0.2s;
}

.icon::before {
  top: -0.8rem;
}
.icon::after {
  top: 0.8rem;
}

.button:hover icon:before {
  top: -1rem;
}
.button:hover icon::after {
  top: 1rem;
}

.checkbox:checked + .button .icon {
  background-color: transparent;
}

.checkbox:checked + .button .icon::before {
  top: 0;
  transform: rotate(135deg);
}
.checkbox:checked + .button .icon::after {
  top: 0;
  transform: rotate(-135deg);
}

.user_option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 25px;
}

.user_option a {
  margin-right: 25px;
  color: #000000;
}

.user_option a span {
  margin-left: 5px;
}
/*end header section*/
/*banner_section*/
.banner_section {
  width: 100%;
  height: 120px;
  margin: 27px 0;
  padding-bottom: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.banner {
  overflow: hidden;
  margin: 0 auto;
}
.banner img {
  width: 1400px;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  position: relative;
}
.banner_name {
  /* top: 16%;
  left: 8%; */
  font-size: 40px;
  color: white;
  background-color: #00000061;
  position: absolute;
  border-radius: 10px;
  width: 1400px;
  height: 109px;
  margin: 0;
  text-align: center;
}
.banner_name p {
  margin-top: 20px;
}
/*end banner_section*/
/*top section*/
.top_container {
  display: flex;
  justify-content: center;
  /* flex-direction: row; */
}
.category_container {
  padding: 0;
  margin: 20px 0;
  height: 158px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
}
.category_container ul {
  width: 100%;
  margin-bottom: 0;
  padding-left: 0;
  overflow: hidden;
}

.category_container ul li {
  width: 20%;
  height: 55px;
  border: 1px solid #dbdbdb;
  list-style: none;
  color: rgb(0, 0, 0);
  background-color: #fff;
  float: left;
  line-height: 55px;
  font-size: 18px;
  vertical-align: middle;
  text-align: center;
}
.category_container ul > li:first-child {
  border-top-left-radius: 10px;
}
.category_container ul > li:nth-child(5) {
  border-top-right-radius: 10px;
}
.category_container ul > li:nth-child(6) {
  border-bottom-left-radius: 10px;
}
.category_container ul > li:last-child {
  border-bottom-right-radius: 10px;
}

.category_container menu {
  text-decoration: none; /* 링크(<a> 태그)가 가지는 기본 꾸밈 효과(밑줄 등)을 없앰*/
  color: #000;
  display: block; /* 링크를 글씨가 있는 부분 뿐만아니라 전체 영역을 클릭해도 링크가 걸리게 설정*/
  width: 150px;
  font-size: 12px;
  font-weight: bold;
}
.category_container ul > li:nth-child(7) .menu::before {
  display: block;
  position: relative;
  content: "건어물";
  color: #d50000;
  background-color: #ffeff1;
  width: 100%;
  height: 55px;
  top: -2px;
  font-weight: 600;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.18);
}
.subcategory_container {
  padding: 0;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: left;
  align-items: center;
  background: #f3f5f7;
  padding: 16px 35px;
  border-radius: 10px;
}
.subcategory_container ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: 0;
  padding: 0;
}
.subcategory_container li {
  list-style: none;
  font-size: 1.1rem;
}
.subcategory_container ul > li:first-child a {
  color: #d50000;
  font-weight: 800;
}
/*end top section*/
/*slide section*/
.slider_section .slider_container {
  height: 200px;
  color: #d50000;
  background-color: #000000;
  background-color: #ffeff1;
  /* padding: 25px; */
  border-radius: 15px;
}

.slider_section .row {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.slider_section .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 45px;
}

.slider_section .img-box img {
  width: 275px;
}

.slider_section .detail-box {
  padding-left: 45px;
  margin: 45px 0;
}

.slider_section .detail-box h2 {
  font-weight: bold;
  font-size: 2.5rem;
  /* margin-bottom: 10px; */
}

.slider_section .detail-box a {
  display: inline-block;
  padding: 10px 40px;
  background-color: #6f4e04;
  color: #ffffff;
  border: 1px solid #6f4e04;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  margin-top: 25px;
  text-transform: uppercase;
}

.slider_section .detail-box a:hover {
  background-color: transparent;
  color: #6f4e04;
}

.slider_section .carousel_btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  bottom: -1px;
  right: 18px;
  padding: 7px 10px;
  border-radius: 5px 5px 0 0;
}
.slider_section .carousel_btn-box img {
  margin: 0 -36px;
  opacity: 0;
}

.slider_section .carousel_btn-box .carousel-control-prev,
.slider_section .carousel_btn-box .carousel-control-next {
  position: unset;
  height: 25px;
  width: 25px;
  background-repeat: no-repeat;
  opacity: 0.5;
  background-position: center;
  color: transparent;
  font-size: 14px;
}
/*----------------------------------------------------*/
.carousel {
  position: relative;
}

.carousel.pointer-event {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}

.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-inner::after {
  display: block;
  clear: both;
  content: "";
}

.carousel-item {
  position: relative;
  display: none;
  float: left;
  width: 100%;
  margin-right: -100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out, -webkit-transform 0.6s ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
  .carousel-item {
    transition: none;
  }
}

.carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
}

.carousel-item-next:not(.carousel-item-left),
.active.carousel-item-right {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

.carousel-item-prev:not(.carousel-item-right),
.active.carousel-item-left {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}

.carousel-fade .carousel-item {
  opacity: 0;
  transition-property: opacity;
  -webkit-transform: none;
  transform: none;
}

.carousel-fade .carousel-item.active,
.carousel-fade .carousel-item-next.carousel-item-left,
.carousel-fade .carousel-item-prev.carousel-item-right {
  z-index: 1;
  opacity: 1;
}

.carousel-fade .active.carousel-item-left,
.carousel-fade .active.carousel-item-right {
  z-index: 0;
  opacity: 0;
  transition: 0s 0.6s opacity;
}

@media (prefers-reduced-motion: reduce) {
  .carousel-fade .active.carousel-item-left,
  .carousel-fade .active.carousel-item-right {
    transition: none;
  }
}

.carousel-control-prev,
.carousel-control-next {
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 15%;
  color: #fff;
  text-align: center;
  opacity: 0.5;
  transition: opacity 0.15s ease;
}

@media (prefers-reduced-motion: reduce) {
  .carousel-control-prev,
  .carousel-control-next {
    transition: none;
  }
}

.carousel-control-prev:hover,
.carousel-control-prev:focus,
.carousel-control-next:hover,
.carousel-control-next:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: 0.9;
}

.carousel-control-prev {
  left: 0;
  background: url("../images/beforebutton.png");
}

.carousel-control-next {
  right: 0;
  background: url("../images/afterbutton.png");
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: no-repeat 50% / 100% 100%;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3e%3c/svg%3e");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3e%3cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3e%3c/svg%3e");
}

.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
  justify-content: center;
  padding-left: 0;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}

.carousel-indicators li {
  box-sizing: content-box;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
  width: 30px;
  height: 3px;
  margin-right: 3px;
  margin-left: 3px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: 0.5;
  transition: opacity 0.6s ease;
}

@media (prefers-reduced-motion: reduce) {
  .carousel-indicators li {
    transition: none;
  }
}

.carousel-indicators .active {
  opacity: 1;
}

.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}
/*----------------------------------------------*/
.board_slide {
  position: relative;
  left: 50%;
  width: 100vw;
  padding: 10px 20px;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  background: #fff;
  transform: translateX(-50%);
}
.swiper-container {
  width: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  box-sizing: border-box;
  overflow: visible;
  position: relative;
  z-index: 10;
  margin-top: 30px;
  padding: 0 16px;
  margin: 0 auto;
}
.swiper-slide {
  width: 283px;
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.swiper-container-vertical > .swiper-pagination-bullets {
  top: unset !important;
  bottom: 10px;
  left: 0;
  width: 100%;
}

.swiper-container-vertical
  > .swiper-pagination-bullets
  .swiper-pagination-bullet {
  display: inline-block !important;
  margin: 6px 2px !important;
}
.swiper-slide span {
  font-size: 1.3rem;
  font-weight: 600;
}
/*----------------------------------------------*/
/*shope section*/
.shop_section .box {
  background-color: transparent;
  border-radius: 10px;
  position: relative;
  padding: 10px;
  margin-top: 25px;
  margin-bottom: 40px;
}

.shop_section .box a {
  color: #000000;
}

.shop_section .img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 30px;
  /* height: 210px; */
  border-radius: 10px;
  overflow: hidden;
  margin: 0 auto;
}

.shop_section .box .img-box img {
  /* max-width: 100%;
    max-height: 145px; */
  width: 235px;
  height: 245px;
  object-fit: cover;
  border-radius: 10px;
}

.shop_section .box .detail-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: center;
  margin-top: 10px;
}

.shop_section .box .detail-box h6 span {
  color: #db4f66;
  margin-left: 15px;
}

.shop_section .box .new {
  width: 50px;
  height: 50px;
  position: absolute;
  /* top: 10px; */
  /* left: 10px; */
  top: 16px;
  left: 16px;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100%;
  font-size: 15px;
}
.shop_section .box .name {
  width: 55px;
  height: 55px;
  position: absolute;
  bottom: 15px;
  right: 15px;
  background-color: rgb(255, 255, 255);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100%;
  font-size: 20px;
}

.shop_section .btn-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 45px;
}

.shop_section .btn-box a {
  display: inline-block;
  padding: 10px 40px;
  background-color: #f16179;
  color: #ffffff;
  border: 1px solid #f16179;
  border-radius: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.shop_section .btn-box a:hover {
  background-color: transparent;
  color: #f16179;
}

.shop_section .swiper-slide .img-box img {
  /* max-width: 100%;
    max-height: 145px; */
  width: 256px;
  height: 185px;
  object-fit: cover;
  border-radius: 10px;
}
@media (min-width: 992px) {
  .col-lg-3 {
    width: 20%;
  }
}
/*----------------------------------------------*/
/* pagination */
.pagination_section {
  position: relative;
  margin: auto 0;
  height: 200px;
}
.pagination_container {
  text-align: center;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
}
.pagination {
  height: 100px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 0 auto;
  position: absolute;
}
.pagination li {
  display: inline;
  text-align: center;
}
.pagination a {
  float: left;
  display: block;
  font-size: 17px;
  text-decoration: none;
  padding: 5px 12px;
  color: #db4f66;
  line-height: 1.5;
}
.first {
  margin-right: 15px;
}
.last {
  margin-left: 15px;
}
.first:hover,
.last:hover,
.left:hover,
.right:hover {
  color: #000000;
}
.pagination a.active {
  cursor: default;
  color: #ffffff;
}
.pagination a:active {
  outline: none;
}
.modal .num {
  margin-left: 3px;
  padding: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  -moz-border-radius: 100%;
}
.modal .num:hover {
  background-color: #7e7e7e;
  color: #ffffff;
}
.modal .num.active,
.modal .num:active {
  background-color: #7e7e7e;
  cursor: pointer;
}
.pagination .arrow-left {
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  border-right: 10px solid #db4f66;
}
/* end pagination */
/*----------------------------------------------*/
/* info section */
.info_section {
  position: relative;
  background-color: #2d2d2d;
  color: #ffffff;
  margin: 0 45px 45px;
}

.info_section .social_container {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 25px;
  margin-bottom: 30px;
}

.info_section .social_container .social_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.info_section .social_container .social_box a {
  margin: 0 10px;
  color: #ffffff;
  font-size: 24px;
}

.info_section .info_form form input {
  outline: none;
  width: 100%;
  padding: 7px 10px;
}

.info_section .info_form form button {
  padding: 8px 35px;
  outline: none;
  border: none;
  color: #ffffff;
  background: #f89cab;
  margin-top: 15px;
  text-transform: uppercase;
}

.info_section .row > div {
  margin-top: 25px;
}

.info_section a {
  text-transform: none;
}

.info_section h6 {
  font-weight: bold;
  text-transform: uppercase;
  font-size: 18px;
  margin-bottom: 25px;
}

.info_section p {
  color: #cbc9c9;
}

.info_section .info_link-box a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 15px 0;
}

.info_section .info_link-box a:hover {
  color: #ffffff;
}

.info_section .info_link-box a i {
  color: #ffffff;
  margin-right: 5px;
  font-size: 18px;
}

.info_section .info_link-box a span {
  color: #cbc9c9;
}

.info_section .info_link-box a:hover span {
  color: #ffffff;
}

/* end info section */
/* footer section*/
.footer_section {
  margin-top: 45px;
  font-weight: 500;
}

.footer_section p {
  padding: 20px 0;
  margin: 0 auto;
  text-align: center;
  /* border-top: 1.5px solid #eeeeee; */
  width: 80%;
}

.footer_section a {
  color: #cbc9c9;
}

/* end footer section*/
